html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Fix for vw, vh, vmin, vmax on iOS 7.
 * http://caniuse.com/#feat=viewport-units
 *
 * This fix works by replacing viewport units with px values on known screen sizes.
 *
 * iPhone 6 and 6 Plus cannot run iOS 7, so are not targeted by this fix.
 * Target devices running iOS 8+ will incidentally execute the media query,
 * but this will still produce the expected result; so this is not a problem.
 *
 * As an example, replace:
 *
 *   height: 50vh;
 *   font-size: 5vmin;
 *
 * with:
 *
 *   @include viewport-unit(height, 50vh);
 *   @include viewport-unit(font-size, 5vmin);
 */
body {
  height: 100%;
  position: relative;
  color: #727271;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  webkit-font-smoothing: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body .outer-container {
    width: 90%;
    margin: 0 auto; }
  body .button {
    display: block;
    font-weight: bold;
    border-radius: 2px;
    font-size: 18px;
    color: #ffffff;
    line-height: 1;
    max-width: 270px;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 65px; }
    body .button:hover {
      color: #ffffff;
      text-decoration: none; }
    body .button.green {
      background: #97c93c; }
      body .button.green:hover {
        background: #89b833; }
    body .button.orange {
      background: #f4a71c; }
      body .button.orange:hover {
        background: #eb9b0b; }
  body header {
    display: flex;
    justify-content: space-around;
    margin: 30px 0 34px; }
    body header .logo {
      display: block;
      max-width: 160px; }
    body header .nav-wrapper,
    body header .main-nav {
      display: flex; }
    body header .additional-nav {
      margin-left: 10vw; }
      body header .additional-nav .menu li {
        padding: 0; }
        body header .additional-nav .menu li a:hover {
          color: #ffffff; }
        body header .additional-nav .menu li.search {
          background: url("../images/header/searchicon.png") no-repeat;
          width: 16px;
          height: 16px; }
      body header .additional-nav .menu li:nth-child(2) {
        padding: 0 30px; }
      body header .additional-nav .button {
        padding: 15px 22px;
        font-size: 14px;
        color: #ffffff;
        font-weight: 800; }
    body header .menu {
      display: flex;
      align-items: center; }
      body header .menu li {
        padding: 0 25px; }
        @media only screen and (min-width: 1600px) {
          body header .menu li {
            padding: 0 30px; } }
        body header .menu li a {
          color: #727271;
          text-transform: uppercase;
          font-weight: 600;
          -moz-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          -ms-transition: all 0.2s linear;
          -webkit-transition: all 0.2s linear;
          transition: all 0.2s linear; }
          body header .menu li a:hover {
            text-decoration: none;
            color: #585858; }
    body header .has-children {
      position: relative; }
      body header .has-children.blue {
        background: url(../images/header/1_06.png) no-repeat;
        background-position: 100% 50%; }
      body header .has-children.green {
        background: url(../images/header/1_08.png) no-repeat;
        background-position: 100% 50%; }
      body header .has-children.orange {
        background: url(../images/header/1_10.png) no-repeat;
        background-position: 100% 50%; }
      body header .has-children .dropdown {
        display: none;
        position: absolute;
        top: 0;
        left: 0; }
        body header .has-children .dropdown.active {
          display: block; }
    body header .search-form {
      display: none; }
  body .jumbothrone {
    background: url(../images/images/jumbothrone.jpg) no-repeat;
    background-size: cover;
    padding: 235px 0 295px; }
    body .jumbothrone h1 {
      color: #ffffff;
      font-size: 40px;
      line-height: 1.4;
      text-align: center; }
      body .jumbothrone h1 span {
        font-weight: 800; }
    body .jumbothrone .button {
      margin: 65px auto 0;
      max-width: 268px; }
  body .companies {
    background: #f3f3f3;
    padding: 48px 0; }
    body .companies .outer-container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body .companies .outer-container div img {
        display: block;
        max-width: 100%; }
  body .featured {
    margin-top: 130px; }
    body .featured .outer-container {
      display: flex; }
      body .featured .outer-container > div {
        width: 50%;
        padding: 115px 122px;
        background-size: cover; }
        body .featured .outer-container > div p {
          text-transform: uppercase;
          color: #ffffff;
          font-size: 16px;
          font-weight: 600;
          padding-bottom: 20px;
          position: relative; }
          body .featured .outer-container > div p::after {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            content: '';
            width: 43px;
            height: 2px;
            border-radius: 2px;
            background-color: #f4a71c; }
        body .featured .outer-container > div h2 {
          font-size: 30px;
          color: #ffffff;
          padding: 40px 0;
          line-height: 1.2; }
          body .featured .outer-container > div h2 span {
            font-size: 44px;
            font-weight: 800; }
      body .featured .outer-container div:first-child {
        background: url("../images/images/account-based-advertising.jpg") no-repeat;
        margin-right: 12px; }
      body .featured .outer-container div:nth-child(2) {
        background: url("../images/images/account-based-analytics.jpg") no-repeat;
        margin-left: 12px; }
      body .featured .outer-container .button {
        display: inline-block;
        padding: 15px 30px;
        font-size: 14px; }
  body .journey {
    margin-top: 30px; }
    body .journey h3 {
      color: #00538a;
      text-align: center;
      line-height: 1.2;
      font-size: 3vw; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
        body .journey h3 {
          font-size: 23.04px; } }
      @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
        body .journey h3 {
          font-size: 30.72px; } }
      @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
        body .journey h3 {
          font-size: 9.6px; } }
      @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
        body .journey h3 {
          font-size: 14.4px; } }
      @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
        body .journey h3 {
          font-size: 9.6px; } }
      @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
        body .journey h3 {
          font-size: 17.04px; } }
    body .journey .button {
      margin: 60px auto 115px;
      max-width: 280px; }
    body .journey .wrapper {
      display: flex;
      justify-content: space-around; }
      body .journey .wrapper div.col {
        width: 30%; }
        body .journey .wrapper div.col.left h4, body .journey .wrapper div.col.left p {
          text-align: right; }
        body .journey .wrapper div.col.left .item {
          float: right; }
        body .journey .wrapper div.col.left .item:first-child {
          margin-top: 10vw;
          margin-top: 10vw; }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
            body .journey .wrapper div.col.left .item:first-child {
              margin-top: 76.8px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
            body .journey .wrapper div.col.left .item:first-child {
              margin-top: 102.4px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
            body .journey .wrapper div.col.left .item:first-child {
              margin-top: 32px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
            body .journey .wrapper div.col.left .item:first-child {
              margin-top: 48px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
            body .journey .wrapper div.col.left .item:first-child {
              margin-top: 32px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
            body .journey .wrapper div.col.left .item:first-child {
              margin-top: 56.8px; } }
        body .journey .wrapper div.col.left .item:nth-child(2) {
          margin-top: 11vw;
          margin-top: 11vw; }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
            body .journey .wrapper div.col.left .item:nth-child(2) {
              margin-top: 84.48px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
            body .journey .wrapper div.col.left .item:nth-child(2) {
              margin-top: 112.64px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
            body .journey .wrapper div.col.left .item:nth-child(2) {
              margin-top: 35.2px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
            body .journey .wrapper div.col.left .item:nth-child(2) {
              margin-top: 52.8px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
            body .journey .wrapper div.col.left .item:nth-child(2) {
              margin-top: 35.2px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
            body .journey .wrapper div.col.left .item:nth-child(2) {
              margin-top: 62.48px; } }
        body .journey .wrapper div.col.right h4, body .journey .wrapper div.col.right p {
          text-align: left; }
        body .journey .wrapper div.col.right .item {
          float: left; }
        body .journey .wrapper div.col.right .item:nth-child(2) {
          margin-top: 5vw;
          margin-top: 5vw; }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
            body .journey .wrapper div.col.right .item:nth-child(2) {
              margin-top: 38.4px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
            body .journey .wrapper div.col.right .item:nth-child(2) {
              margin-top: 51.2px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
            body .journey .wrapper div.col.right .item:nth-child(2) {
              margin-top: 16px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
            body .journey .wrapper div.col.right .item:nth-child(2) {
              margin-top: 24px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
            body .journey .wrapper div.col.right .item:nth-child(2) {
              margin-top: 16px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
            body .journey .wrapper div.col.right .item:nth-child(2) {
              margin-top: 28.4px; } }
        body .journey .wrapper div.col.right .item:nth-child(3) {
          margin-top: 10vw;
          margin-top: 10vw; }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
            body .journey .wrapper div.col.right .item:nth-child(3) {
              margin-top: 76.8px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
            body .journey .wrapper div.col.right .item:nth-child(3) {
              margin-top: 102.4px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
            body .journey .wrapper div.col.right .item:nth-child(3) {
              margin-top: 32px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
            body .journey .wrapper div.col.right .item:nth-child(3) {
              margin-top: 48px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
            body .journey .wrapper div.col.right .item:nth-child(3) {
              margin-top: 32px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
            body .journey .wrapper div.col.right .item:nth-child(3) {
              margin-top: 56.8px; } }
        body .journey .wrapper div.col.center img {
          max-width: 100%; }
      body .journey .wrapper .item {
        width: 90%; }
        body .journey .wrapper .item h4 {
          color: #00538a;
          line-height: 1.2;
          font-size: 29px;
          font-size: 1.7vw; }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
            body .journey .wrapper .item h4 {
              font-size: 13.056px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
            body .journey .wrapper .item h4 {
              font-size: 17.408px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
            body .journey .wrapper .item h4 {
              font-size: 5.44px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
            body .journey .wrapper .item h4 {
              font-size: 8.16px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
            body .journey .wrapper .item h4 {
              font-size: 5.44px; } }
          @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
            body .journey .wrapper .item h4 {
              font-size: 9.656px; } }
        body .journey .wrapper .item p {
          line-height: 1.6; }
  body .partner {
    padding: 125px 0 140px;
    background: url("../images/section/bg_16.jpg") no-repeat;
    background-size: cover; }
    body .partner .inner-container {
      display: flex;
      justify-content: space-between; }
    body .partner h3 {
      font-size: 50px;
      font-size: 10vw; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
        body .partner h3 {
          font-size: 76.8px; } }
      @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
        body .partner h3 {
          font-size: 102.4px; } }
      @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
        body .partner h3 {
          font-size: 32px; } }
      @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
        body .partner h3 {
          font-size: 48px; } }
      @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
        body .partner h3 {
          font-size: 32px; } }
      @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
        body .partner h3 {
          font-size: 56.8px; } }
    body .partner h3, body .partner p {
      text-align: center;
      color: #ffffff; }
    body .partner .card {
      background: #ffffff;
      width: 30%; }
      body .partner .card img {
        display: block;
        max-width: 100%; }
      body .partner .card .wrap {
        padding: 20px 78px; }
      body .partner .card p {
        color: #727271;
        line-height: 1.4;
        text-align: left; }
