html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  height: 100%;
  position: relative;
  color: #727271;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  webkit-font-smoothing: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body .outer-container {
    width: 90%;
    margin: 0 auto; }
  body .button {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    line-height: 1;
    max-width: 270px;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 65px; }
    body .button:hover {
      text-decoration: none; }
    body .button.green {
      background: #97c93c; }
      body .button.green:hover {
        background: #89b833; }
  body header {
    display: flex;
    justify-content: space-around;
    margin: 30px 0 34px; }
    body header .logo {
      display: block;
      max-width: 160px; }
    body header .nav-wrapper,
    body header .main-nav {
      display: flex; }
    body header .menu {
      display: flex;
      align-items: center; }
      body header .menu li {
        padding: 0 25px; }
        @media only screen and (min-width: 1600px) {
          body header .menu li {
            padding: 0 30px; } }
        body header .menu li a {
          color: #727271;
          text-transform: uppercase;
          font-weight: 600;
          -moz-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          -ms-transition: all 0.2s linear;
          -webkit-transition: all 0.2s linear;
          transition: all 0.2s linear; }
          body header .menu li a:hover {
            text-decoration: none;
            color: #585858; }
    body header .has-children {
      position: relative; }
      body header .has-children.blue {
        background: url(../images/header/1_06.png) no-repeat;
        background-position: 100% 50%; }
      body header .has-children.green {
        background: url(../images/header/1_08.png) no-repeat;
        background-position: 100% 50%; }
      body header .has-children.orange {
        background: url(../images/header/1_10.png) no-repeat;
        background-position: 100% 50%; }
      body header .has-children .dropdown {
        display: none;
        position: absolute;
        top: 0;
        left: 0; }
        body header .has-children .dropdown.active {
          display: block; }
    body header .search-form {
      display: none; }
  body .jumbothrone {
    background: url(../images/images/jumbothrone.jpg) no-repeat;
    background-size: cover;
    padding: 235px 0 295px; }
    body .jumbothrone h1 {
      color: #ffffff;
      font-size: 40px;
      line-height: 1.4;
      text-align: center; }
      body .jumbothrone h1 span {
        font-weight: 800; }
    body .jumbothrone .button {
      margin: 65px auto 0;
      max-width: 268px; }
  body .companies {
    background: #f3f3f3;
    padding: 48px 0; }
    body .companies .outer-container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body .companies .outer-container div img {
        display: block;
        max-width: 100%; }
  body .featured .outer-container div:first-child {
    background: url(../images/); }
