body {
    height: 100%;
    position: relative;
    @include body-font;

    ///common styles

    .outer-container {
        width: 90%;
        margin: 0 auto;
        max-width: 1440px;
    }

    .button {
        display: block;
        font-weight: bold;
        border-radius: 2px;
        font-size: 18px;
        color: #ffffff;
        line-height: 1;
        max-width: 270px;
        @include transition(all 0.2s linear);
        text-transform: uppercase;
        text-align: center;
        padding: 25px 65px;

        &:hover {
            color: #ffffff;
            text-decoration: none;
        }

        &.green {
            background: $bright-green;

            &:hover {
                background: darken($bright-green, 5%);
            }
        }

        &.orange {
            background: $orange;

            &:hover {
                background: darken($orange, 5%);
            }
        }
    }

    //end common styles

    header {
      display: flex;
      justify-content: space-around;
      margin: 30px 0 34px;

      .logo {
          display: block;
          max-width: 160px;
      }

      .nav-wrapper,
      .main-nav {
          display: flex;
      }

      .additional-nav {
          margin-left: 10vw;

          .menu {
              li {
                  padding: 0;

                  a {
                      &:hover {
                          color: #ffffff;
                      }
                  }

                  &.search {
                      background: url('../images/header/searchicon.png') no-repeat;
                      width: 16px;
                      height: 16px;
                  }
              }

              li:nth-child(2) {
                  padding: 0 30px;
              }
          }

          .button {
                padding: 15px 22px;
                font-size: 14px;
                color: #ffffff;
                font-weight: 800;
          }
      }

      .menu {
          display: flex;
          align-items: center;

          li {
              padding: 0 25px;

              @include mq('monitor'){
                  padding: 0 30px;
              }

              a {
                  color: $main;
                  text-transform: uppercase;
                  font-weight: 600;
                  @include transition(all 0.2s linear);

                  &:hover {
                      text-decoration: none;
                      color: darken($main, 10%);
                  }
              }
          }
      }

      .has-children {
          position: relative;

          &.blue {
              background: url(../images/header/1_06.png) no-repeat;
              background-position: 100% 50%;
          }

          &.green {
              background: url(../images/header/1_08.png) no-repeat;
              background-position: 100% 50%;
          }

          &.orange {
              background: url(../images/header/1_10.png) no-repeat;
              background-position: 100% 50%;
          }

          .dropdown {
              display: none;
              position: absolute;
              top: 0;
              left: 0;

              &.active {
                  display: block;
              }
          }
      }

      .search-form {
          display: none;
      }
    }
    .jumbothrone {
        background: url(../images/images/jumbothrone.jpg) no-repeat;
        background-size: cover;
        padding: 235px 0 295px;

        h1 {
            color: #ffffff;
            font-size: 40px;
            line-height: 1.4;
            text-align: center;

            span {
                font-weight: 800;
            }
        }

        .button {
            margin: 65px auto 0;
            max-width: 268px;
        }
    }
    .companies {
        background: $light-grey;
        padding: 48px 0;

        .outer-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                img {
                    display: block;
                    max-width: 100%;
                }
            }
        }
    }
    .featured {
        margin-top: 130px;

        .outer-container {
            display: flex;

            &> div {
                width: 50%;
                padding: 115px 122px;
                background-size: cover;

                p {
                    text-transform: uppercase;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 600;
                    padding-bottom: 20px;
                    position: relative;

                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        display: block;
                        content: '';
                        width: 43px;
                        height: 2px;
                        border-radius: 2px;
                        background-color: $orange;
                    }
                }

                h2 {
                    font-size: 30px;
                    color: #ffffff;
                    padding: 40px 0;
                    line-height: 1.2;

                    span {
                        font-size: 44px;
                        font-weight: 800;
                    }
                }
            }

            div:first-child {
                background: url('../images/images/account-based-advertising.jpg') no-repeat;
                margin-right: 12px;
            }

            div:nth-child(2) {
                background: url('../images/images/account-based-analytics.jpg') no-repeat;
                margin-left: 12px;
            }

            .button {
                display: inline-block;
                padding: 15px 30px;
                font-size: 14px;
            }
        }
    }
    .journey {
        margin-top: 30px;

        h3 {
            color: $blue;
            // font-size: 50px;
            font-weight: bold;
            margin-bottom: 50px;
            text-align: center;
            line-height: 1.2;
            @include viewport-unit(font-size, 3vw);
        }

        .button {
            margin: 60px auto 115px;
            max-width: 280px;
        }

        .wrapper {
            display: flex;
            justify-content: space-around;

            div.col {
                width: 30%;

                &.left {
                    h4, p {
                        text-align: right;
                    }

                    .item {
                        float:right;
                    }

                    .item:first-child {
                        margin-top: 10vw;
                        @include viewport-unit(margin-top, 10vw);
                    }

                    .item:nth-child(2){
                        margin-top: 11vw;
                        @include viewport-unit(margin-top, 11vw);
                    }
                }

                &.right {
                    h4, p {
                        text-align: left;
                    }

                    .item {
                        float:left;
                    }

                    .item:nth-child(2){
                        margin-top: 5vw;
                        @include viewport-unit(margin-top, 5vw);
                    }

                    .item:nth-child(3){
                        margin-top: 10vw;
                        @include viewport-unit(margin-top, 10vw);
                    }
                }

                &.center {
                    img {
                        max-width: 100%;
                        height: 100vh;
                    }
                }
            }

            .item {
                width: 95%;

                h4 {
                    color: $blue;
                    line-height: 1.2;
                    font-size: 29px;
                    margin-bottom: 20px;
                    @include viewport-unit(font-size, 1.7vw);
                }

                p {
                    line-height: 1.6;
                }
            }
        }
    }
    .partner {
        padding: 125px 0 140px;
        background: url('../images/section/bg_16.jpg') no-repeat;
        background-size: cover;

        .inner-container {
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
        }

        h3 {
            font-size: 50px;
            font-weight: bold;
            @include viewport-unit(font-size, 3vw);
        }

        h3 + p {
            font-size: 50px;
            @include viewport-unit(font-size, 1.8vw);
            line-height: 2;
        }

        h5 {
            color: $blue;
            @include viewport-unit(font-size, 1.6vw);
            line-height: 2;
            padding-bottom: 6px;
        }

        h3, p {
            text-align: center;
            color: #ffffff;
        }

        .card {
            background: #ffffff;
            width: 32%;

            img {
                display: block;
                max-width: 100%;
            }

            .wrap {
                padding: 20px 40px 50px;
            }

            p, blockquote {
                color: $main;
                line-height: 2;
                text-align: left;
            }

            blockquote {
                padding-top: 40px;
                margin-top: 40px;
                position: relative;

                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    content: '';
                    width: 40px;
                    height: 2px;
                    background: $blue;
                    border-radius: 2px;
                }

                .author {
                    font-weight: bold;
                }

                &.blue {
                    &:after {
                        background: $blue;
                    }

                    .author {
                        color: $blue;
                    }
                }

                &.orange {

                    &:after {
                        background: $orange-text;
                    }

                    .author {
                        color: $orange-text;
                    }
                }

                &.purple {

                    &:after {
                        background: $purple;
                    }

                    .author {
                        color: $purple;
                    }
                }
            }
        }
    }
    .akamai {
        padding: 100px 0 120px;

        .outer-container {
            display: flex;

            & > div:first-child {
                width: 60%;
                img {
                    max-width: 220px;
                }
            }

            & > div:nth-child(2){

                width: 40%;
                img {
                    width: 100%;
                    display: block;
                    max-width: 586px;
                }
            }

            h5 {
                color: $blue;
                font-size: 30px;
                margin-top: 30px;
            }

            blockquote {
                position: relative;
                font-style: italic;
                line-height: 2;
                font-size: 24px;
                margin-top: 40px;
                padding-top: 40px;
                width: 80%;

                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    content: '';
                    width: 40px;
                    height: 2px;
                    border-radius: 2px;
                    background: $dark-blue;
                }

                .author {
                    color: $dark-blue;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    padding-top: 35px;
                    padding-bottom: 60px;
                }

            }

            .button {
                padding: 15px 20px;
                max-width: 322px;
            }

            .inner-container {
                display: flex;
            }
        }
    }
    .funnel {
        background: url('../images/section/abm.jpg') no-repeat;
        background-size: cover;
        color: #ffffff;
        padding: 110px 0 120px;

        .outer-container {
            h5 {
                font-size: 36px;
                line-height: 2;

                span {
                    font-weight: bold;
                }
            }

            p {
                line-height: 1.8;
                margin-bottom: 20px;
                width: 80%;
                font-size: 18px;
            }
        }

        .outer-container > p:first-child {
            color: $orange-text;
            font-weight: bold;
            text-transform: uppercase;
        }

        .button {
            padding: 15px 20px;
            max-width: 300px;
            line-height: 1;
        }
    }

}
